:root {
  --continuum-color: linear-gradient(135deg, #00a6ff 0%, #00ff88 100%);
  --continuum-button: linear-gradient(to right, #4776E6 0%, #8E54E9 50%, #4776E6 100%);
}

.App {
  height: 100vh;
  background-color: #1a202c;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.voting-container {
  height: 25%;
  border-radius: 25px;
  border: 5px solid white;
  padding: 20px;
  margin:5% auto;
  width: 40%;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
	background: var(--continuum-color);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
	
.sub-text {
  font-size: 25px;
  color: white;
}

.description-text {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  animation: gradient-animation 4s ease infinite;
}

.cta-button:hover {
  transform: scale(1.1) perspective(1px);
}

.connect-wallet-button {
  background: var(--continuum-button);
  background-size: 200% 200%;
}

.voting-button {
  background: var(--continuum-color);
  background-size: 200% 200%;
  margin: 10px;
}

.donate-link {
  margin-left: 50px;
  background: var(--continuum-button);
  background-size: 200% 200%;
  text-decoration: none;
}

.submit-button {
  background: var(--continuum-button);
  background-size: 200% 200%;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 25px;
}

.logo-svg {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}


.msg-grid {
  display: flex;
  flex-direction: column;
  justify-items: center;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

.msg-box {
  padding-left: 25px;
  padding-right: 25px;
  width: 60%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 5px auto;
}

.msg-text {
  font-size: 25px;
  color: white;
  text-align: left;
}

.sender-span {
  font-size: 18px;
  color: white;
  float: left;
}

.time-span {
  font-size: 15px;
  color: grey;
  float: right;
}

.connected-container input[type='text'] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 50px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 25px auto;
}

.connected-container button {
  height: 50px;
}